#discover-breda-map{
    position: relative;
    z-index: 2;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: var(--gray);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);

}
#discover-breda-map .container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discover-breda-map .container .map-container {
    width: 600px;
    border: solid 1px black;
}
#map {
    height: 400px;
    width: 100%;
}
.discover-map-text{
    width: 700px;
    height: 60%;
    display: grid;
    justify-items: start;
    align-content: space-evenly;
    padding-left: 90px;
    color: var(--white);
}
.discover-map-text a button{
    padding: 18px 50px;
    border: none;
    background-color: var(--white);
    color: var(--red);
    font-size: var(--small-s);
    font-family: var(--fontOne);
}
.discover-map-text a button:hover{
    cursor: pointer;
    background-color: var(--gray);
}