#upload-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#upload-section .container h2 {
    margin-bottom: 35px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    color: var(--black);
}

#upload-section .container form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

#uploadForm {
    margin-bottom: 20px;
}

#username {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 1.3rem);
    height: 40px;
    font-family: var(--fontOne);
}

#fileInput {
    padding: 15px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 1.3rem);
    height: 40px;
        font-family: var(--fontOne);
}

#fileInput::file-selector-button {
    margin-right: 10px;
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#openPopup {
    padding: 18px 50px;
    border: none;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--small-xs);
    font-family: var(--fontOne);
}

#videos-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 60px;
    text-align: center;
    color: var(--black);
}

#videos-section .container p {
    margin-bottom: 35px;
}

.video-previews {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.video-previews video {
    width: 150px;  
    height: 265px;
    object-fit: cover;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    justify-content: center;
}

.video-container {
    position: relative;
    width: 200px;  
    height: 355px; 
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px; 
}
