/* Hero section home banner */
#hero-banner{
    position: relative;
    z-index: 2;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: -90px;
    width: 100vw;
    height: 600px;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 60% 0px;
    overflow: hidden;
}

#hero-banner img, #discover-banner img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

#hero-banner .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
}

#hero-banner .container, #discover-banner .container {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

#hero-banner .container .box , #discover-banner .container .box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 70px;
    left: 0;
    height: max-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#discover-banner .container .box a button{
    padding: 18px 50px;
    border: none;
    background-color: #93278f;
    color: var(--white);
    font-size: var(--small-xs);
    font-family: var(--fontOne);
}

#hero-banner .container .box h1 {
    z-index: 2;
    font-family: var(--fontOne);
    text-transform: uppercase;
    color: var(--white);
    font-size: 40px;
    width: max-content;
}

/* Hero overlay banner */
.overlay-banner {
    top: 0;
    left: 0;
    margin-top: -600px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    height: 600px;
    background-color: var(--red);
}

/* Hero overlay banner */

.overlay-banner .box {
    width: 100%;
    display: flex;
    justify-content: end;
}
.overlay-banner a {
    width: max-content;
    height: max-content;
}

.overlay-banner a button {
    position: relative;
    z-index: 4;
    top: 460px;
    right: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: var(--white);
    outline: 2px solid var(--white);
    outline-offset: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.overlay-banner a button:hover {
    cursor: pointer;
    outline-offset: -2px;
    transition: ease-in-out 0.2s;
}

.overlay-banner a button:hover i {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

.overlay-banner a button i {
    font-size: var(--medium-m);
    transition: ease-in-out 0.2s;
}

@media only screen and (max-width: 1400px) {
    #hero-banner .container .box h1 {
        font-size: var(--large-xl);
    }
}

@media only screen and (max-width: 1100px) {
    
    #hero-banner .container .box h1 {
        font-size: var(--large-l);
    }
}

@media only screen and (max-width: 900px) {
    #hero-banner .container .box {
        padding: 40px 50px;
    }
    #hero-banner .container .box h1 {
        font-size: var(--medium-m);
    }
    .overlay-banner a button {
        display: none;
    }
    #hero-banner {
        height: 450px;
        border-radius: 0px 0px 40% 0px;
    }
}

@media only screen and (max-width: 650px) {
    #hero-banner .container .box {
        padding: 40px 22px;
    }
    #hero-banner .container .box h1 {
        font-size: var(--small-s);
    }
}

@media only screen and (max-width: 450px) {
    #hero-banner .container .box h1 {
        font-size: var(--small-xs);
    }
}
#discover-banner{
    position: relative;
    z-index: 2;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: -90px;
    width: 100vw;
    height: 600px;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}