/* 
*  global css variables
*/

/* Font links */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Standard preset variables for all pages */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    user-select: none;
    overflow-x: hidden !important;
}

body.disable-scroll {
    overflow: hidden !important;
}

h1,h2,h3,p,a,input {
    font-family: var(--fontOne);
    color: var(--text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

/* Wraps all the content */
#pagewrapper {
    max-width: 1600px;
    margin: 0 auto;
}

/* Structured container */
.container {
    max-width: 1600px;
    margin: 0 1.3rem;
    display: flex;
}

.account-page {
    background-color: var(--red);
}

/* Alert */
#alert {
    position: absolute;
    left: 0px;
    top: 135px;
    z-index: 4;
    width: max-content;
    padding: 25px 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--red);
}

#alert.is-active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

#alert h3 {
    color: var(--white);
    text-transform: capitalize;
    font-weight: 600;
}

#alert p {
    color: var(--white);
}

/* Alert for login/register different */

.account-page-alert {
    background-color: var(--white) !important;
}

.account-page-alert h3,
.account-page-alert p {
    color: var(--red) !important;
}

/* Question ai */
#question-ai {
    position: fixed;
    z-index: 5;
    bottom: 60px;
    right: 0px;
    width: 90px;
    height: 70px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    border-radius: 50px 0% 0% 50px;
}

#question-ai button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--white);
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.2s, transform ease-in-out 0.2s;
}

#question-ai button:hover {
    background-color: var(--white);
    cursor: pointer;
}

#question-ai button:hover i {
    color: var(--red);
}

#question-ai button i {
    font-size: var(--medium-m);
    color: var(--white);
    transition: color ease-in-out 0.2s;
}

/* Color scheme */
:root {
    --white: white;
    --black: black;
    --main: #101010;
    --red: #FF0033;
    --red_hover: #91172f;
    --purple: #93278F;
    --purple_hover: #7f217c;
    --gray: #A6A6A6;
    --gray_hover: #898989;

    --fontOne: "Montserrat", sans-serif;
    --fontTwo: "Goldman", sans-serif;
    --fontThree: "Lora", serif;
}

/* 
*   Global sizes 
*/
:root {
    /* Fontsizes */
    --large-xxl: 58px;
    --large-xl: 38px;
    --large-l: 28px;
    --medium-m: 22px;
    --small-s: 18px;
    --small-xs: 16px;
}

h1 {
    font-size: var(--large-xl)
}

h2 {
    font-size: var(--large-l);
}

h3 {
    font-size: var(--medium-m);
}

p {
    font-size: var(--small-s);
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: var(--medium-m);
    }
    h3 {
        font-size: var(--medium-m);
    }
}

@media only screen and (max-width: 650px) {
    h2 {
        font-size: var(--small-s);
    }
    h3 {
        font-size: var(--small-s);
    }
    p {
        font-size: var(--small-xs);
    }
    button {
        font-size: var(--small-xs) !important;
    }
    #question-ai {
        width: 70px;
        height: 60px;
    }
    #question-ai button {
        width: 40px;
        height: 40px;
    }
    #question-ai button i {
        font-size: var(--small-s);
    }
}

@media only screen and (max-width: 450px) {
    p {
        font-size: 14px !important;
    }
}
